%container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $outer-margin;
  padding-right: $outer-margin;
}

%row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  margin-left: $gutter-width * -0.5;
  margin-right: $gutter-width * -0.5;
}

.aw {
  &-container {
    @extend %container;
    max-width: $container-max-width;

    &-fluid {
      @extend %container;
    }
  }

  &-row {
    @extend %row;
    flex-wrap: wrap;

    &--nowrap {
      @extend %row;
      flex-wrap: nowrap;
    }

    &.aw-reverse {
      flex-direction: row-reverse;
    }

    &--gutter {
      &-none {
        margin-left: 0;
        margin-right: 0;

        & > div[class^='#{$column-prefix}-'] {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &-double {
        margin-left: $gutter-width * -1;
        margin-right: $gutter-width * -1;

        & > div[class^='#{$column-prefix}-'] {
          padding-left: $gutter-width;
          padding-right: $gutter-width;
        }
      }
    }
  }
}

@include helper('.aw-start') {
  justify-content: flex-start;
  text-align: left;
}

@include helper('.aw-center') {
  justify-content: center;
  text-align: center;
}

@include helper('.aw-end') {
  justify-content: flex-end;
  text-align: right;
}

@include helper('.aw-top') {
  align-items: flex-start;
}

@include helper('.aw-middle') {
  align-items: center;
}

@include helper('.aw-bottom') {
  align-items: flex-end;
}

@include helper('.aw-around') {
  justify-content: space-around;
}

@include helper('.aw-between') {
  justify-content: space-between;
}

@include helper('.aw-first') {
  order: -1;
}

@include helper('.aw-last') {
  order: 1;
}

@include defaults() {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-left: $gutter-width * -0.5;
  padding-right: $gutter-width * -0.5;
}

@include columns();

@include offsets();
